:root {
    --white: #fff;
    --black: #000;
    --blue-google: #4285f4;
    --red-red-600: #dc2626;
    --red-red-500: #ef4444;
    --gray-gray-500: #6b7280;
    --gray-50: #f9fafb;
    --green-500: #22c55e;
}